<a href="https://colab.research.google.com/github/Navyasriinguri/Jobaaj-Internship-Files/blob/main/InternShip_Python_navyasri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BASIC PROBLEMS**

In [ ]:
## 1. List all unique cities where customers are located.
import pandas as pd
df_customers = pd.read_csv('Customers.csv')
unique_cities = df_customers['customer_city'].unique()
print(unique_cities)

['franca' 'sao bernardo do campo' 'sao paulo' ... 'monte bonito'
 'sao rafael' 'eugenio de castro']

In [ ]:
## 2. Count the number of orders placed in 2017.
orders_df = pd.read_csv('orders.csv')
orders_df['order_purchase_timestamp'] = pd.to_datetime(orders_df['order_purchase_timestamp'])
orders_2017 = orders_df[orders_df['order_purchase_timestamp'].dt.year == 2017]
number_of_orders_2017 = len(orders_2017)
print(f"Number of orders placed in 2017: {number_of_orders_2017}")

Number of orders placed in 2017: 45101

In [ ]:
## 3. Find the total sales per category.
order_items_df = pd.read_csv('order_items.csv')
products_df = pd.read_csv('products.csv')
merged_df = pd.merge(order_items_df, products_df, on='product_id')
sales_per_category = merged_df.groupby('product category')['price'].sum().reset_index()
sales_per_category_sorted = sales_per_category.sort_values(by='price', ascending=False)
print("Total sales per product category:")
print(sales_per_category_sorted)

Total sales per product category:
               product category       price
30                HEALTH BEAUTY  1258681.34
45              Watches present  1205005.68
49               bed table bath  1036988.68
68                sport leisure   988048.97
53         computer accessories   911954.32
..                          ...         ...
58                      flowers     1110.04
32              House Comfort 2      760.27
50               cds music dvds      730.00
18  Fashion Children's Clothing      569.85
62       insurance and services      283.29

[73 rows x 2 columns]

In [ ]:
## 4. Calculate the percentage of orders that were paid in installments.
payments_df = pd.read_csv('payments.csv')
total_orders = payments_df['order_id'].nunique()
installment_orders_df = payments_df[payments_df['payment_installments'] > 1]
installment_orders_count = installment_orders_df['order_id'].nunique()
percentage_with_installments = (installment_orders_count / total_orders) * 100
print(f"Percentage of orders paid in installments: {percentage_with_installments:.2f}%")

Percentage of orders paid in installments: 51.46%

In [ ]:
## 5.Count the number of customers from each state.
customers_df = pd.read_csv('Customers.csv')
customers_by_state = customers_df.groupby('customer_state')['customer_id'].count().reset_index()
customers_by_state.rename(columns={'customer_id': 'number_of_customers'}, inplace=True)
customers_by_state_sorted = customers_by_state.sort_values(by='number_of_customers', ascending=False)
print("Number of customers from each state:")
print(customers_by_state_sorted)

Number of customers from each state:
   customer_state  number_of_customers
25             SP                41746
18             RJ                12852
10             MG                11635
22             RS                 5466
17             PR                 5045
23             SC                 3637
4              BA                 3380
6              DF                 2140
7              ES                 2033
8              GO                 2020
15             PE                 1652
5              CE                 1336
13             PA                  975
12             MT                  907
9              MA                  747
11             MS                  715
14             PB                  536
16             PI                  495
19             RN                  485
1              AL                  413
24             SE                  350
26             TO                  280
20             RO                  253
2              AM                  148
0              AC                   81
3              AP                   68
21             RR                   46

**INTERMEDIATE PROBLEMS**

In [ ]:
## 1.Calculate the number of orders per month in 2018.
orders_df = pd.read_csv('orders.csv')
orders_df['order_purchase_timestamp'] = pd.to_datetime(orders_df['order_purchase_timestamp'])
orders_2018 = orders_df[orders_df['order_purchase_timestamp'].dt.year == 2018]
orders_per_month_2018 = orders_2018.groupby(orders_2018['order_purchase_timestamp'].dt.month)['order_id'].count().reset_index()
orders_per_month_2018.columns = ['Month', 'Number of Orders']
print("Number of orders per month in 2018:")
print(orders_per_month_2018)

Number of orders per month in 2018:
   Month  Number of Orders
0      1              7269
1      2              6728
2      3              7211
3      4              6939
4      5              6873
5      6              6167
6      7              6292
7      8              6512
8      9                16
9     10                 4

In [ ]:
## 2. Find the average number of products per order, grouped by customer city.
customers_df = pd.read_csv('Customers.csv')
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
orders_with_customers = pd.merge(orders_df, customers_df, on='customer_id')
merged_df = pd.merge(orders_with_customers, order_items_df, on='order_id')
products_per_order = merged_df.groupby(['customer_city', 'order_id']).size().reset_index(name='number_of_products')
average_products_per_city = products_per_order.groupby('customer_city')['number_of_products'].mean().reset_index()
average_products_per_city.rename(columns={'number_of_products': 'average_products_per_order'}, inplace=True)
average_products_per_city_sorted = average_products_per_city.sort_values(by='average_products_per_order', ascending=False)
print("Average number of products per order, grouped by customer city:")
print(average_products_per_city_sorted)

Average number of products per order, grouped by customer city:
       customer_city  average_products_per_order
2619  padre carvalho                         7.0
907      celso ramos                         6.5
1154           datas                         6.0
756    candido godoi                         6.0
2264  matias olimpio                         5.0
...              ...                         ...
1946         jatauba                         1.0
1947          jatoba                         1.0
1949            jaua                         1.0
1950         jaupaci                         1.0
1935          jardim                         1.0

[4110 rows x 2 columns]

In [ ]:
## 3. Calculate the percentage of total revenue contributed by each product category.
order_items_df = pd.read_csv('order_items.csv')
products_df = pd.read_csv('products.csv')
merged_df = pd.merge(order_items_df, products_df, on='product_id')
total_revenue = merged_df['price'].sum()
revenue_per_category = merged_df.groupby('product category')['price'].sum().reset_index()
revenue_per_category['percentage'] = (revenue_per_category['price'] / total_revenue) * 100
revenue_percentage_sorted = revenue_per_category.sort_values(by='percentage', ascending=False)
print(revenue_percentage_sorted)

               product category       price  percentage
30                HEALTH BEAUTY  1258681.34    9.260700
45              Watches present  1205005.68    8.865783
49               bed table bath  1036988.68    7.629605
68                sport leisure   988048.97    7.269533
53         computer accessories   911954.32    6.709669
..                          ...         ...         ...
58                      flowers     1110.04    0.008167
32              House Comfort 2      760.27    0.005594
50               cds music dvds      730.00    0.005371
18  Fashion Children's Clothing      569.85    0.004193
62       insurance and services      283.29    0.002084

[73 rows x 3 columns]

In [ ]:
## 4. Identify the correlation between product price and the number of times a product has been purchased
import pandas as pd
order_items_df = pd.read_csv('order_items.csv')
products_df = pd.read_csv('products.csv')
merged_df = pd.merge(order_items_df, products_df, on='product_id', how='inner')
product_summary = merged_df.groupby('product_id').agg(number_of_purchases=('order_id', 'count'),average_price=('price', 'mean')).reset_index()
correlation = product_summary['number_of_purchases'].corr(product_summary['average_price'])
print(f"The correlation between product price and the number of times a product has been purchased is: {correlation}")

The correlation between product price and the number of times a product has been purchased is: -0.032139862680945167

In [ ]:
## 5. Calculate the total revenue generated by each seller, and rank them by revenue.
import pandas as pd
order_items_df = pd.read_csv('order_items.csv')
revenue_per_seller = order_items_df.groupby('seller_id')['price'].sum().reset_index()
revenue_per_seller.columns = ['seller_id', 'total_revenue']
ranked_sellers = revenue_per_seller.sort_values(by='total_revenue', ascending=False)
ranked_sellers['rank'] = ranked_sellers['total_revenue'].rank(method='dense', ascending=False).astype(int)
ranked_sellers = ranked_sellers.reset_index(drop=True)
print("\nSellers ranked by total revenue:")
print(ranked_sellers)

Sellers ranked by total revenue:
                             seller_id  total_revenue  rank
0     4869f7a5dfa277a7dca6462dcf3b52b2      229472.63     1
1     53243585a1d6dc2643021fd1853d8905      222776.05     2
2     4a3ca9315b744ce9f8e9374361493884      200472.92     3
3     fa1c13f2614d7b5c4749cbc52fecda94      194042.03     4
4     7c67e1448b00f6e969d365cea6b010ab      187923.89     5
...                                ...            ...   ...
3090  34aefe746cd81b7f3b23253ea28bef39           8.00  2774
3091  702835e4b785b67a084280efca355756           7.60  2775
3092  1fa2d3def6adfa70e58c276bb64fe5bb           6.90  2776
3093  77128dec4bec4878c37ab7d6169d6f26           6.50  2777
3094  cf6f6bc4df3999b9c6440f124fb2f687           3.50  2778

[3095 rows x 3 columns]

**ADVANCED PROBLEMS**

In [ ]:
## 1. Calculate the moving average of order values for each customer over their order history.
import pandas as pd
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
customers_df = pd.read_csv('Customers.csv')
order_value_df = pd.merge(order_items_df, orders_df, on='order_id', how='left')
order_value_df = order_value_df.groupby('order_id').agg(order_value=('price', 'sum'),order_purchase_timestamp=('order_purchase_timestamp', 'first')).reset_index()
order_value_df = pd.merge(order_value_df, orders_df[['order_id', 'customer_id']], on='order_id', how='left')
order_value_df = pd.merge(order_value_df, customers_df, on='customer_id', how='left')
order_value_df.dropna(subset=['customer_unique_id'], inplace=True)
order_value_df['order_purchase_timestamp'] = pd.to_datetime(order_value_df['order_purchase_timestamp'])
order_value_df.sort_values(by=['customer_unique_id', 'order_purchase_timestamp'], inplace=True)
order_value_df['moving_average_order_value'] = order_value_df.groupby('customer_unique_id')['order_value'].transform(lambda x: x.rolling(window=2, min_periods=1).mean())
print("Moving Average of Order Values:")
print(order_value_df[['customer_unique_id', 'order_purchase_timestamp', 'order_value', 'moving_average_order_value']].head(10))

Moving Average of Order Values:
                     customer_unique_id order_purchase_timestamp  order_value  \
87338  0000366f3b9a7992bf8c76cfdf3221e2      2018-05-10 10:56:27       129.90
20578  0000b849f77a49e4a4ce2b2a4ca5be3f      2018-05-07 11:11:27        18.90
68939  0000f46a3911fa3c0805444483337064      2017-03-10 21:05:03        69.00
25028  0000f6ccb0745a6a4b88665a16c9f078      2017-10-12 20:29:41        25.99
83852  0004aac84e0df4da2b147fca70cf8255      2017-11-14 19:45:42       180.00
23946  0004bd2a26a76fe21f786e4fbd80607f      2018-04-05 19:33:16       154.00
80227  00050ab1314c0e55a6ca13cf7181fecf      2018-04-20 12:57:23        27.99
26528  00053a61a98854899e70ed204dd4bafe      2018-02-28 11:15:41       382.00
67031  0005e1862207bf6ccc02e4228effd9a0      2017-03-04 23:32:12       135.00
641    0005ef4cd20d2893f0d9fbd94d3c0d97      2018-03-12 15:22:12       104.90

       moving_average_order_value
87338                      129.90
20578                       18.90
68939                       69.00
25028                       25.99
83852                      180.00
23946                      154.00
80227                       27.99
26528                      382.00
67031                      135.00
641                        104.90

In [ ]:
## 2. Calculate the cumulative sales per month for each year.
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
order_sales = order_items_df.groupby('order_id').agg(total_sales=('price', 'sum')).reset_index()
order_sales_with_date = pd.merge(orders_df[['order_id', 'order_purchase_timestamp']],order_sales, on='order_id')
order_sales_with_date['order_purchase_timestamp'] = pd.to_datetime(order_sales_with_date['order_purchase_timestamp'])
order_sales_with_date['year'] = order_sales_with_date['order_purchase_timestamp'].dt.year
order_sales_with_date['month'] = order_sales_with_date['order_purchase_timestamp'].dt.month
monthly_sales = order_sales_with_date.groupby(['year', 'month']).agg(monthly_sales=('total_sales', 'sum')).reset_index()
monthly_sales = monthly_sales.sort_values(by=['year', 'month'])
monthly_sales['cumulative_sales'] = monthly_sales.groupby('year')['monthly_sales'].cumsum()
print("\nCumulative Sales per Month for Each Year:")
print(monthly_sales)
monthly_sales.to_csv('cumulative_sales_per_month.csv', index=False)

Cumulative Sales per Month for Each Year:
    year  month  monthly_sales  cumulative_sales
0   2016      9         267.36            267.36
1   2016     10       49507.66          49775.02
2   2016     12          10.90          49785.92
3   2017      1      120312.87         120312.87
4   2017      2      247303.02         367615.89
5   2017      3      374344.30         741960.19
6   2017      4      359927.23        1101887.42
7   2017      5      506071.14        1607958.56
8   2017      6      433038.60        2040997.16
9   2017      7      498031.48        2539028.64
10  2017      8      573971.68        3113000.32
11  2017      9      624401.69        3737402.01
12  2017     10      664219.43        4401621.44
13  2017     11     1010271.37        5411892.81
14  2017     12      743914.17        6155806.98
15  2018      1      950030.36         950030.36
16  2018      2      844178.71        1794209.07
17  2018      3      983213.44        2777422.51
18  2018      4      996647.75        3774070.26
19  2018      5      996517.68        4770587.94
20  2018      6      865124.31        5635712.25
21  2018      7      895507.22        6531219.47
22  2018      8      854686.33        7385905.80
23  2018      9         145.00        7386050.80

In [ ]:
## 3. Calculate the year-over-year growth rate of total sales.
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
order_sales = order_items_df.groupby('order_id').agg(total_sales=('price', 'sum')).reset_index()
order_sales_with_date = pd.merge(orders_df[['order_id', 'order_purchase_timestamp']], order_sales, on='order_id')
order_sales_with_date['order_purchase_timestamp'] = pd.to_datetime(order_sales_with_date['order_purchase_timestamp'])
order_sales_with_date['year'] = order_sales_with_date['order_purchase_timestamp'].dt.year
annual_sales = order_sales_with_date.groupby('year')['total_sales'].sum().reset_index()
annual_sales['YoY_Growth_Rate'] = annual_sales['total_sales'].pct_change() * 100
print("\nAnnual Sales and Year-over-Year Growth Rate:")
print(annual_sales)
annual_sales.to_csv('year_over_year_growth_rate.csv', index=False)

Annual Sales and Year-over-Year Growth Rate:
   year  total_sales  YoY_Growth_Rate
0  2016     49785.92              NaN
1  2017   6155806.98     12264.554035
2  2018   7386050.80        19.985094

In [ ]:
 ##4. Calculate the retention rate of customers, defined as the percentage of customers who make another purchase within 6 months of their first purchase.
import pandas as pd
from datetime import timedelta
orders_df = pd.read_csv('orders.csv')
customers_df = pd.read_csv('Customers.csv')
merged_df = pd.merge(orders_df, customers_df, on='customer_id', how='inner')
merged_df['order_purchase_timestamp'] = pd.to_datetime(merged_df['order_purchase_timestamp'])
merged_df.sort_values(by=['customer_unique_id', 'order_purchase_timestamp'], inplace=True)
purchase_dates = merged_df.groupby('customer_unique_id')['order_purchase_timestamp'].apply(list)
retained_customers_data = purchase_dates[purchase_dates.apply(len) > 1].reset_index()
retained_customers_data['first_purchase'] = retained_customers_data['order_purchase_timestamp'].apply(lambda x: x[0])
retained_customers_data['second_purchase'] = retained_customers_data['order_purchase_timestamp'].apply(lambda x: x[1])
retained_customers_data['time_to_second_purchase'] = retained_customers_data['second_purchase'] - retained_customers_data['first_purchase']
six_months = timedelta(days=180)
retained_count = (retained_customers_data['time_to_second_purchase'] <= six_months).sum()
total_retained_customers = len(retained_customers_data)
retention_rate = (retained_count / total_retained_customers) * 100
print(f"Total customers who made at least two purchases: {total_retained_customers}")
print(f"Customers who made a second purchase within 6 months: {retained_count}")
print(f"Customer Retention Rate (within 6 months): {retention_rate:.2f}%")

Total customers who made at least two purchases: 2997
Customers who made a second purchase within 6 months: 2482
Customer Retention Rate (within 6 months): 82.82%

In [ ]:
## 5. Identify the top 3 customers who spent the most money in each year.
orders_df = pd.read_csv('orders.csv')
payments_df = pd.read_csv('payments.csv')
df_merged = pd.merge(orders_df, payments_df, on='order_id')
df_merged['order_purchase_timestamp'] = pd.to_datetime(df_merged['order_purchase_timestamp'])
df_merged['year'] = df_merged['order_purchase_timestamp'].dt.year
customer_yearly_spend = df_merged.groupby(['customer_id', 'year'])['payment_value'].sum().reset_index()
customer_yearly_spend.columns = ['customer_id', 'year', 'total_spend']
top_customers_by_year = customer_yearly_spend.groupby('year').apply(lambda x: x.sort_values(by='total_spend', ascending=False).head(3)).reset_index(drop=True)
print("Top 3 customers by total spend for each year:")
print(top_customers_by_year)

Top 3 customers by total spend for each year:
                        customer_id  year  total_spend
0  a9dc96b027d1252bbac0a9b72d837fc6  2016      1423.55
1  1d34ed25963d5aae4cf3d7f3a4cda173  2016      1400.74
2  4a06381959b6670756de02e07b83815f  2016      1227.78
3  1617b1357756262bfa56ab541c47bc16  2017     13664.08
4  c6e2731c5b391845f6800c97401a43a9  2017      6929.31
5  3fd6777bbce08a352fddd04e4a7cc8f6  2017      6726.66
6  ec5b2ba62e574342386871631fafd3fc  2018      7274.88
7  f48d464a0baaea338cb25f816991ab1f  2018      6922.21
8  e0a2412720e9ea4f26c1ac985f6a7358  2018      4809.44

/tmp/ipython-input-2047984906.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_customers_by_year = customer_yearly_spend.groupby('year').apply(lambda x: x.sort_values(by='total_spend', ascending=False).head(3)).reset_index(drop=True)